/* login.css */

.auth-box .auth-links {
    margin-top: 25px;
    font-size: 0.85em;
}

.auth-box .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-box .links a {
    color: #555;
    text-decoration: none;
}

.auth-box .links a:hover {
    text-decoration: underline;
}
