{% extends "base.html" %}
{% block content %}
<main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="background-image: url(assets/img/page-title-bg.webp)"
      >
        <div class="container position-relative">
          <h1>로드맵</h1>
          <p>Roadmap</p>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Blog Posts 2 Section -->
      <section id="blog-posts-2" class="blog-posts-2 section">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4">
              <article class="position-relative h-100">
                <div class="post-img position-relative overflow-hidden">
                  <img
                    src="static/img/blog/roadmap-1.jpg"
                    class="img-fluid"
                    alt=""
                    width="1024"
                    height="768"
                  />
                </div>

                <div class="meta d-flex align-items-end">
                  <span class="post-date"><span>2025</span>Q4</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i>
                    <span class="ps-2">AI Algorithm</span>
                  </div>
                </div>

                <div class="post-content d-flex flex-column">
                  <h3 class="post-title">예측 모델 고도화</h3>
                  <a href="#" class="readmore stretched-link"
                    ><span>Read More</span><i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </article>
            </div>
            <!-- End post list item 1 -->

            <div class="col-lg-4">
              <article class="position-relative h-100">
                <div class="post-img position-relative overflow-hidden">
                  <img
                    src="static/img/blog/roadmap-2.jpg"
                    class="img-fluid"
                    alt=""
                    width="1024"
                    height="768"
                  />
                </div>

                <div class="meta d-flex align-items-end">
                  <span class="post-date"><span>2026</span>Q1</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i>
                    <span class="ps-2">Data Analysis</span>
                  </div>
                </div>

                <div class="post-content d-flex flex-column">
                  <h3 class="post-title">농산물 품목 확대</h3>
                  <a href="#" class="readmore stretched-link"
                    ><span>Read More</span><i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </article>
            </div>
            <!-- End post list item 2 -->

            <div class="col-lg-4">
              <article class="position-relative h-100">
                <div class="post-img position-relative overflow-hidden">
                  <img
                    src="static/img/blog/roadmap-3.jpg"
                    class="img-fluid"
                    alt=""
                    width="1024"
                    height="768"
                  />
                </div>
                <div class="meta d-flex align-items-end">
                  <span class="post-date"><span>2026</span>Q2</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i>
                    <span class="ps-2">Marketplace</span>
                  </div>
                </div>

                <div class="post-content d-flex flex-column">
                  <h3 class="post-title">
                    생산자와 수요자가 직접 거래할 수 있는 마켓플레이스 구축
                  </h3>
                  <a href="#" class="readmore stretched-link"
                    ><span>Read More</span><i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </article>
            </div>
            <!-- End post list item 3 -->

            <div class="col-lg-4">
              <article class="position-relative h-100">
                <div class="post-img position-relative overflow-hidden">
                  <img
                    src="static/img/blog/roadmap-4.jpg"
                    class="img-fluid"
                    alt=""
                    width="1024"
                    height="768"
                  />
                </div>
                <div class="meta d-flex align-items-end">
                  <span class="post-date"><span>2026</span>Q3</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i>
                    <span class="ps-2">Blockchain/Contract</span>
                  </div>
                </div>

                <div class="post-content d-flex flex-column">
                  <h3 class="post-title">
                    AI 예측 기반 선계약 기능과 블록체인 스마트계약 도입으로
                    계약·정산 자동화
                  </h3>
                  <a href="#" class="readmore stretched-link"
                    ><span>Read More</span><i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </article>
            </div>
            <!-- End post list item 4 -->

            <div class="col-lg-4">
              <article class="position-relative h-100">
                <div class="post-img position-relative overflow-hidden">
                  <img
                    src="static/img/blog/roadmap-5.jpg"
                    class="img-fluid"
                    alt=""
                    width="1024"
                    height="768"
                  />
                </div>

                <div class="meta d-flex align-items-end">
                  <span class="post-date"><span>2026</span>Q4</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i>
                    <span class="ps-2">Trust/People</span>
                  </div>
                </div>

                <div class="post-content d-flex flex-column">
                  <h3 class="post-title">
                    프로필, 평점, 인증 등 신뢰 지표 도입, 안정적 거래 생태계
                    조성
                  </h3>
                  <a href="#" class="readmore stretched-link"
                    ><span>Read More</span><i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </article>
            </div>
            <!-- End post list item 5 -->

            <div class="col-lg-4">
              <article class="position-relative h-100">
                <div class="post-img position-relative overflow-hidden">
                  <img
                    src="static/img/blog/roadmap-6.jpg"
                    class="img-fluid"
                    alt=""
                    width="1024"
                    height="768"
                  />
                </div>

                <div class="meta d-flex align-items-end">
                  <span class="post-date"><span>2027</span>Q1</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i>
                    <span class="ps-2">Policy/Collaboration</span>
                  </div>
                </div>

                <div class="post-content d-flex flex-column">
                  <h3 class="post-title">
                    스마트농업, 디지털 일자리, 농산물 가공 등 국가·지역 정책과
                    연계
                  </h3>
                  <a href="#" class="readmore stretched-link"
                    ><span>Read More</span><i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </article>
            </div>
            <!-- End post list item 6 -->
          </div>
        </div>
      </section>
      <!-- /Blog Posts 2 Section -->

      <!-- Call To Action Section -->
      <!-- /Call To Action Section -->
    </main>
{% endblock %}